/* table {
    border-collapse: collapse;
  } */
/*  
  td {
    border: .5px solid rgb(189, 183, 183);
    padding: 5px;
    background-color: rgb(235, 235, 235);
    border-radius: 10px
    
  } */
  
  /* .td-right {
    text-align: right;
  } */
  /* .tablediv{
      margin-top: 40px;
      margin-left: 35%
  } */
  